body, html {
	margin: 0;
	padding: 20px;
	grid-column: #EEE;
	font-family: Montserrat, Verdana, sans-serif;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}